label[for="juejin-markdown-formatter-import-md-file"] {
  vertical-align: middle;
  cursor: pointer;
}

[data-title] {
  position: relative;
  overflow: visible;
}

label[for="juejin-markdown-formatter-import-md-file"]::before,
label[for="juejin-markdown-formatter-import-md-file"]::after {
  display: block;
  position: fixed;
  opacity: 0;
  transition: 0.15s 0.15s;
  visibility: hidden;
}

label[for="juejin-markdown-formatter-import-md-file"]::before {
  content: attr(data-title);
  z-index: 2;
  transform: translate(-53px, -36px);
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 16px;
  text-align: center;
  background-color: #333333;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  white-space: nowrap;
}

label[for="juejin-markdown-formatter-import-md-file"]::after {
  content: "";
  z-index: 1;
  transform: translate(2px, -38px);
  width: 0;
  height: 0;
  margin-bottom: -12px;
  overflow: hidden;
  border: 10px solid transparent;
  border-top-color: #333333;
}

label[for="juejin-markdown-formatter-import-md-file"]:hover::before,
label[for="juejin-markdown-formatter-import-md-file"]:hover::after {
  visibility: visible;
  opacity: 1;
}

#juejin-markdown-formatter-import-md-file {
  display: none;
}
