/GIFPlayer/reference/*

/JueJinMarkdownFormatter/TestDocs/*
/scripts/juejin-markdown-formatter/legacy/TestDocs/*

*.assets/

.idea/
node_modules/
dist/
**/dist/
**/dev/*.local.user.js
.vite/
*.local

temp/
