.bili-share-to-friends-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
}

.bili-share-to-friends-tab-panel {
  display: none;
  flex: 1 1 auto;
  min-height: 0;
}

.bili-share-to-friends-tab-panel-active {
  display: block;
}

.bili-share-to-friends-panel {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}
